@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  --Very-Light-red: hsla(0, 100%, 67%, 10%);
  --Very-Orangey-yellow: hsla(39, 100%, 56%, 10%);
  --Very-Green-teal: hsla(166, 100%, 37%, 10%);
  --Very-Cobalt-blue: hsla(234, 85%, 45%, 10%);

  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--Pale-blue);
}

.text-gray {
  color: var(--Light-lavender);
}

.fs-2 {
  font-size: 1.25rem;
}

button {
  all: unset;
}

.btn {
  background-color: var(--Dark-gray-blue);
  border-radius: 30px;
  padding: 14px 30px;
  color: var(--White);
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: linear-gradient(to bottom, var(--Violet-blue), var(--Light-royal-blue));
}

.result-container {
  position: relative;
  margin: auto;
  width: 720px;
  max-width: 100%;
  background-color: var(--White);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.result-container>div {
  flex: 1;
  padding: 2.5rem 2rem;
}

.result {
  background: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.75rem;
  justify-content: space-between;
  color: var(--White);
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(to bottom, var(--Violet-blue), transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.scored-avg {
  font-size: 3.5rem;
}

.result-desc {
  width: 75%;
}

/* summary */
.summary {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.75rem;
  /* justify-content: space-between; */
}

.summary>* {
  flex: 1;
}

.score-card-all {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
}

.card:nth-child(1) {
  background-color: var(--Very-Light-red);
  color: var(--Light-red);
}

.card:nth-child(2) {
  background-color: var(--Very-Orangey-yellow);
  color: var(--Orangey-yellow);
}

.card:nth-child(3) {
  background-color: var(--Very-Green-teal);
  color: var(--Green-teal);
}

.card:nth-child(4) {
  background-color: var(--Very-Cobalt-blue);
  color: var(--Cobalt-blue);
}

.card-score {
  margin-left: auto;
}

.card-score p {
  font-weight: 700;
  color: hsl(0 0% 60%);
}

.card-title {
  font-size: 1rem;
}

.summary-text,
.hl {
  color: var(--Dark-gray-blue);
}

@media screen and (max-width: 520px) {
  .result-container {
    flex-direction: column;
    border-radius: 0;
  }

  .result {
    border-radius: 0 0 30px 30px;
  }
}